
.clickable:hover  { cursor: pointer; }

.gallery          { top   : 4rem ; margin       : auto; }
.gallery-item     { width : 300px; margin-bottom: 10px; }
.gallery-item img { width : 100% ; border-radius: 10px; animation: scaleUpReverse 0.2s forwards; }
.gallery-item img:hover                               { animation: scaleUp        0.2s forwards; }

body  { background-color: #192025; }
.hide { display: none; }

@keyframes scaleUp{
  from { top:    0%; left:    0%; transform: scale(1.00); }
  to   { top: -0.5%; left: -0.5%; transform: scale(1.05); }
}

@keyframes scaleUpReverse{
  from { top: -0.5%; left: -0.5%; transform: scale(1.05); }
  to   { top:    0%; left:    0%; transform: scale(1.00); }
}

.topArrow{
  position: relative;
  
  height  : 2rem;
  background-color: #606468;

  left: 48vw;
  top : 3rem;
  
  border-radius: 35%;
}

#uploadIcon{
  position: relative;
  
  float: left;
  
  height: 80%;
  
  left: 1rem;
  top : 5px;
}

#userMenu{
  transition: height 1s;
  position: fixed;
  z-index : 3;
  
  width : 30vh;
  
  right:  0px;
  top  : 45px;
  
  border    : 2px solid #393f46;
  border-top: none;
  
  background-color: #21282dfa;
}

#userMenu a{
  display: block;
  width: 100%;
  margin-left: 5px;
  font-family: 'Open Sans', sans-serif;
  color: #e3e7ef;
  
  margin-top   : 5px;
  margin-bottom: 5px;
}

#userMenu img{
  position: relative;
  top: 5px;
  height: 20px;
}

#userMenu p{
  margin: 0;
  
  width : 100%;
  height:  2px;
  
  background-color: #393f46;
}

#userIcon{
  position: relative;

  height : 75%;
  border-radius: 50%;
  float: right;
  
  top  : 5px;
  right: 1vw;
}


#menuBar{
  position: fixed;
  z-index : 2;
  
  width : 100%;
  height: 50px;
  
  top: 0px;
  left: 0px;
  background-color: #20272cfa;
  transition: top 0.3s;
}